doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="akvp")
    meta(name="author" content="@jegerima")

    meta(property="og:site_name" content="Multiverso | Beib")
    meta(property="og:title" content="Unas cuantas palabras...")
    meta(property="og:image" content="https://jegerima.dev/public/images/luna.jpg")
    meta(property="og:url" content="https://jegerima.dev/multiverso/beib")
    meta(property="og:description" content="Creo que es la mejor manera en la que puedo expresarme. Espero puedas comprenderme.")

    title Unas cuantas palabras...

    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
    link(rel="icon", href="/public/images/dev_favicon_72.png")

    style. 
      body{
        font-family: 'Lato', sans-serif;
        //- position: absolute;
        //- height: 100%;
      }

      .container {
        //- height: 100%;
      }

      nav .brand-logo.akvp-logo{
        width: 100%;
        text-align: center;
      }

      .av-pc-bg{
        background-color: #8bc34a;
        /* light green */
      }

      .hide{
        display: none;
      }

      .justify{
        text-align: justify;
      }

      .av-container{
        padding: 1rem 0rem 2rem 0rem;
        text-align: center;
      }

      .number{
        font-weight: bold;
      }

      .cofre-wrapper{
        height: 355px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .av-boxed{
        width: 100%;
        margin: .5rem 0rem;
      }

      .no-margin{
        margin: 0px;
      }

      .card.av-item:last-child{
        margin-bottom: 3rem;
      }
  
  body
    nav 
      .nav-wrapper.av-pc-bg 
        a.brand-logo.akvp-logo(href="#") Unas cuantas palabras... 
        ul#nav-mobile.right.hide-on-med-and-down
    
    .container.valign-wrapper
      .row.item0 
        .col.s12.center
          br
          br
          br
          a.btn0.waves-effect.waves-light.btn(href="#")
            i.material-icons.right vpn_key
            | Clave
      .row.hide.item1(style="opacity:0 ;")
        .col.s12.m10.offset-m1.l8.offset-l2.xl6.offset-xl3 
          br
          p Hola <b>Angeline!</b> Si ingresaste aquí es porque has recibido el detalle, lo cual me alegro mucho desde ya &#128522;. Espero te gusten cada uno de ellos. 
          p Los chocolatitos son unos dulces ricos con semillas de café, te recomiendo morderlos jejeje. Los M&amp;M no podían faltar, aunque creo que ya tenias una caja verde &#128517; bueno, nunca está de más. 
          | El perfume es algo que hace tiempo quería hacer, tu sabes, esos pendientes que uno tiene en la cabeza. Su aroma me gustó mucho &#128562; y creo que a ti también te va a agradar. Y la pandita es muy especial. La ví y me recordó mucho a tí y por eso tambien está en el regalito. Me gustaría que le pongas nombre, yo sugeriria <b>Beib</b> y que le haga compañia a <b>Jek</b>.
          p La pluma y los sticky notes seguro te seran muy útil en tu día a día. Realmente los compré para yo escribir pero creo que mejor se me dá programar y tipear &#128579;.
          p Tengo <b>muchas cosas</b> que decirte y tal vez por este medio no pueda decirlo todo, pero aqui voy...
          br
        .col.s12.center
          a.btn2.waves-effect.waves-light.btn.orange(href="#")
            i.material-icons.right arrow_forward
            | Siguiente

      .row.hide.item2
        .col.s12.m10.offset-m1.l8.offset-l2.xl6.offset-xl3 
          br
          p Yo creo que no soy muy bueno comunicandome, tal vez hablo mucho pero no significa que sea la mejor manera. &#128532;
          p Estas semanas han sido muy extrañas, diferentes y <b>tristes</b> para mí. No ha sido fácil, y supongo que para tí mucho menos.
          | Aún estoy en <b>shock</b>, sintiendome un verdadero mounstro por la forma en cómo hice las cosas y como pareciera que solo hubiera huído. Pero la verdad ya no sabía que más hacer...
          p Todos estos días he pensado en tí, y en Medellín aún más: en los paisajes, en las aves, en la música, en todo! Y más aún cuando veía mi mano, porque me llevé la pulsera que me regalaste. Me encanta! Muchas gracias &#129321;
          img.responsive-img(src="/public/images/pulsera.jpeg")
          p Por eso, estoy expresando estas lineas en la forma que mejor, considero, sé hacerlo...
          br
        .col.s12.center
          a.btn1.waves-effect.waves-light.btn.orange(href="#")
            i.material-icons.left arrow_back
            | Atrás
          a.btn-flat
          a.btn3.waves-effect.waves-light.btn.orange.darken-1(href="#")
            i.material-icons.right arrow_forward
            | Siguiente
      
      .row.hide.item3
        .col.s12.m10.offset-m1.l8.offset-l2.xl6.offset-xl3 
          br
          p La razón por la que he "desaparecido" es porque estoy tratando de hacer las cosas un poco diferentes. 
          | En las veces anteriores que me hice a un lado, a los pocos días ya empezaba a escribirte porque quería <b>saber de tí</b>, de como estas.
          | Y cada dia que ha pasado he querido hacerlo, quiero realmente saber de tí! Pero trato de ser fuerte en la <b>decisión</b>.
          p Me siento muy <b>cobarde</b> por no responder ese mensaje de Instagram. Confieso que a mi mente ha venido muchas veces en olvidarme de todo y salir corriendo destras tuyo, de ir por tí. Pero eso solo causaría más confusión.
          p Estoy tratando de ordenar mi cabeza, de saber qué es lo que realmente <b>quiero</b> y <b>siento</b>.
          p Yo me sentía un poco abrumado en la relación, algo cansado y sin saber qué hacer porque no sentía que estábamos avanzando como pareja. Opino que este distanciamiento nos hará muy bien a ambos y que podamos poner todo en orden y pensar con <b>claridad</b>. Y por qué no, luego volver a conversar. 
          p Si algo he aprendido de tí, es que con mucho <b>esfuerzo y dedicación</b> se pueden lograr muchas cosas, pasito a pasito para salir adelante. Eres mi ejemplo a seguir en ese aspecto. No conozco a nadie más fuerte que tí, Ange.
          p Yo realmente <b>te quiero mucho</b>, eso me gustaria dejarlo en claro. Eres muy especial para mí y eso no lo va a cambiar nada ni nadie.
          br
        .col.s12.center
          a.btn2.waves-effect.waves-light.btn.orange.darken-1(href="#")
            i.material-icons.left arrow_back
            | Atrás
          a.btn-flat
          a.btn4.waves-effect.waves-light.btn.orange.darken-2(href="#")
            i.material-icons.right arrow_forward
            | Siguiente

      .row.hide.item4
        .col.s12.m10.offset-m1.l8.offset-l2.xl6.offset-xl3 
          br
          p Aprovecho este espacio para <b>agradecerte</b> desde lo más profundo de mi <b>corazón</b> todo lo que hemos vivido. Me has dado muchas <b>alegrías</b> y eres testigo de como yo te he amado intensamente &#128140;
          p Tengo muchos, demasiado <b>hermosos recuerdos</b> contigo: desde las escapadas, los viajes, bailes, cocteles, dormir juntos, la adrenalina de ir hacia el peligro, los detalles, chocolates y todas las cosas que hicimos juntos por puro <b>cariño y amor</b> mutuo.
          p Es con lo que quiero quedarme, con lo bonito que ha sido nuestra relación. Te <b>agradezco</b> infinitamente por todos estos años junto a mi lado &#128149;. La verdad es que han sido los mejores que he vivido con una <b>pareja</b> (lloro mientras escribo...)
          p <b>Te quiero muchisimo</b>, y puedo decir que eres una persona increible! Yo le he dicho a mi mamá que chicas como tu casi no hay y eres muy <b>especial</b>. Eres <b>parte de mi vida</b> y de muchos momentos felices en ella. Hiciste que mi corozón sintiera muchas cosas, mucho amor y que mi mente <b>piense en tí</b> primero que nadie. Yo aún me sorprendo de las locuras que he hecho solo por verte un ratito.
          p Nuevamente, <b>muchas gracias</b> por permitirme compartir todo este tiempo a tu lado &#129303; No lo cambiaría por nada, y lo volvería a vivir sin dudarlo.
          br
        .col.s12.center
          a.btn3.waves-effect.waves-light.btn.orange.darken-2(href="#")
            i.material-icons.left arrow_back
            | Atrás
          a.btn-flat
          a.btn5.waves-effect.waves-light.btn.orange.darken-3(href="#")
            i.material-icons.right arrow_forward
            | Siguiente
      
      .row.hide.item5
        .col.s12.m10.offset-m1.l8.offset-l2.xl6.offset-xl3 
          br
          p El último día que nos vimos me dijiste que tenías muchas ideas de cosas a <b>futuro</b>, pero en todo este tiempo nunca lo conversamos. Hubieron tantas cosas <b>guardadas</b> y pienso que de haber empezado por esas conversaciones incómodas no hubieramos llegado a este punto.
          p Siempre he sido muy <b>abierto a escuchar</b>, a conversar. Me gustaría en algun momento poder <b>verte y dialogar contigo</b>, cuando estemos mejor, tengamos más tiempo y estemos más tranquilos. Yo no quiero que te vayas de mi vida. <b>No soportaría perderte</b>, no soportaría perder a una persona muy especial...
          p Pido <b>disculpas</b> por mi manera, no fué la más idónea para la ocasión. Pido <b>perdón</b> por hacer sentir mal a ese <b>corazoncito tan bonito</b> que tienes. Fuí un verdadero idiota, como dije al inicio, me siento un mounstro por ese día &#128542;. 
          p Me quedo con todo lo bonito. Ambos hicimos <b>nuestro mayor esfuerzo</b> y eso es de valientes &#128079;. Hemos empujado mucho nuestro cariño y no todos estan dispuestos a hacerlo.
          p Mientras seguiré pensando en lo que quiero, en mis <b>sentimientos hacia tí</b>, en cómo se podrían mejorar las cosas y cual sería la forma correcta de tomar contacto nuevamente. Me gustaría ser alguién <b>seguro</b> para tí. Tal vez lo estoy complicando mucho jeje solías decirme esto. <b>Tal vez es más sencillo</b> de lo que pienso, tal vez...
          br
        .col.s12.center
          a.btn4.waves-effect.waves-light.btn.orange.darken-3(href="#")
            i.material-icons.left arrow_back
            | Atrás
          a.btn-flat
          a.btn6.waves-effect.waves-light.btn.orange.darken-4(href="#")
            i.material-icons.right arrow_forward
            | Siguiente
      
      .row.hide.item6
        .col.s12.m10.offset-m1.l8.offset-l2.xl6.offset-xl3 
          br
          p No quiero que estas palabras se vean como un adios. <b>Quiero seguir siendo parte de tu vida y que tu seas parte de la mía</b>. Esa es la razón por la cual he creado este sitio web.
          p Espero haber despejado un poco algunas dudas y que comprendas mi posición. <b>Te quiero mucho Angeline, eres parte de mi vida y te llevo en mi corazón. Siempre serás mi pandita &#128060;. Gracias, de verdad. &#128522;</b> 

          p Hay una canción que he escuchado y de una pienso en tí, y me gusta. Aqui te dejo un enlace a ella:  
            a(href="https://www.youtube.com/watch?v=HgOehtoyUl0" target="_blank") Daría Todo - Alex Ponce

          br
          img.responsive-img(src="/public/images/manitos.jpg")
          br
          p(style="margin-bottom: 0px;") Atentamente 
          p(style="margin-top: 0px;") Jefferson, Jeff, &#128059;
          br
        .col.s12.center
          a.btn5.waves-effect.waves-light.btn.orange.darken-4(href="#")
            i.material-icons.left arrow_back
            | Atrás
          a.btn-flat
          a.btn1.waves-effect.waves-light.btn.orange.darken-5(href="#")
            i.material-icons.right home
            | Inicio


    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.2/velocity.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    script.
      $(document).ready(function(){
        $('.btn1').click(function(){
          $('.container').children().addClass('hide');
          $('.item1').removeClass('hide');
        });

        $('.btn2').click(function(){
          $('.container').children().addClass('hide');
          $('.item2').removeClass('hide');
        });

        $('.btn3').click(function(){
          $('.container').children().addClass('hide');
          $('.item3').removeClass('hide');
        });

        $('.btn4').click(function(){
          $('.container').children().addClass('hide');
          $('.item4').removeClass('hide');
        });

        $('.btn5').click(function(){
          $('.container').children().addClass('hide');
          $('.item5').removeClass('hide');
        });

        $('.btn6').click(function(){
          $('.container').children().addClass('hide');
          $('.item6').removeClass('hide');
        });

        $('.btn0').click(function(){
          var result = prompt("Si fueras un animalito, cuál serias?", "Escribir aqui");
          if (result != null) {
            if(!isNaN(parseInt(result))){ 
                M.toast({html: 'Respuesta inválida! :('})
                return; 
            }

            if(result.toLowerCase()=='gallinita' || result.toLowerCase()=="pandita"){
                M.toast({html: 'Correcto! :)'})
                showContent();
            }else{
                M.toast({html: 'Respuesta incorrecta :('});
            }
          }
        });

      });

      function showContent() {
        $('.item0').velocity({opacity: 0}, {duration: 1500, complete: afterPass});
      }

      function afterPass() {
        $('.item0').remove();
        $('.item1').removeClass('hide');
        $('.item1').velocity({opacity: 1}, {duration: 1500});
      }
