doctype html
html(lang="es")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="akvp")
        meta(name="author" content="@jegerima")

        meta(property="og:site_name" content="Multiverso | 1m")
        meta(property="og:title" content="Un pequeño detalle")
        meta(property="og:image" content="https://jegerima.dev/public/images/m1.png")
        meta(property="og:url" content="https://jegerima.dev/multiverso/m1")
        meta(property="og:description" content="En vista de la situación del coronavirus, me puse creativo y quería hacer algo para no pasar por alto este día. Te quiero mucho :)")

        title Felíz Cumplemes | 1m

        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
        link(rel="icon", href="/public/images/favicon.png")

        style. 
            body{
                font-family: 'Lato', sans-serif;
            }

            nav .brand-logo.akvp-logo{
                width: 100%;
                text-align: center;
            }

            .av-pc-bg{
                background-color: #8bc34a;
                /* light green */
            }

            .hide{
                display: none;

            }

            .justify{
                text-align: justify;
            }

            .av-container{
                padding: 1rem 0rem 2rem 0rem;
                text-align: center;
            }

            .number{
                font-weight: bold;
            }

            .cofre-wrapper{
                height: 355px;
                margin: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            .av-boxed{
                width: 100%;
                margin: .5rem 0rem;
            }

            .no-margin{
                margin: 0px;
            }

            .teamo{
                font-weight: bold;
                font-size: 2rem;
                margin: 2rem 0rem;
            }

            .card.av-item:last-child{
                margin-bottom: 3rem;
            }
    body
        nav
            .nav-wrapper.av-pc-bg
                a.brand-logo.akvp-logo(href="#") Cumplemes 
                    span.number(style="opacity: 0;") #1
                ul#nav-mobile.right.hide-on-med-and-down

        .container.av-container
            div.cofre-wrapper
                img.cofre.hide(src="/public/images/cofre-cerrado.png")

            .av-item.hide
                .row
                    .col.s12.z-depth-4.player
                        p Feliz día amor! 
                            span(style="margin-left: 1rem;")
                                i.material-icons.red-text.tiny favorite
                        p Hoy 1 de Abril del 2020 es oficialmente nuestro primer mes. Y aunque suene poquito, para mí significa mucho. Es nuestro primer ciclo en el cuál hemos expresado todo lo que sentimos, sin limitaciones.
                        p Las imágenes siguientes no representan en lo absoluto todos los momentos que hemos construido. Sin embargo, dejo unas cuantas muy importantes. Espero te gusten.
                        p
                            span
                                i.material-icons.green-text.small.player-icon volume_up


            .card.av-item.hide
                .card-image.waves-effect.waves-block.waves-light
                    img.activator(src="/public/images/f3.png", alt="Navidad")
                .card-content
                    span.card-title.activator.grey-text.text-darken-4 Noche de paz
                        span(style="margin-left: 1rem;")
                            i.material-icons.blue-text.tiny ac_unit
                    p 5 de Diciembre del 2019
                        
                .card-reveal
                    span.card-title.grey-text.text-darken-4 Nos anticipamos jeje
                        i.material-icons.right close
                    p.justify La verdad es que llegaban semanas muy ocupadas, y tú te irias al rancho. Por eso, aprovechamos en hacer nuestra salida navideña adelantada.
                    p.justify Un lugar lleno de luces de colores, los camellos jaja y muchas fotos por todos lados.
                    p.justify Eramos dos chicos que se querian mucho. Esa noche en un beso, aunque con un poco de miedo, lo confirmamos.

            .card.av-item.hide
                .card-image.waves-effect.waves-block.waves-light
                    img.activator(src="/public/images/f2.png", alt="Enero")
                .card-content
                    span.card-title.activator.grey-text.text-darken-4 Uff ese día...
                        span(style="margin-left: 1rem;")
                            i.material-icons.yellow-text.tiny star
                    p 11 de Enero del 2020
                        
                .card-reveal
                    span.card-title.grey-text.text-darken-4 Nuestra cita de Enero
                        i.material-icons.right close
                    p.justify Era nuestra primera salida del año, y estábamos muy emocionados de vernos. La falla era que yo no tenía plan jeje.
                    p.justify Sin embargo, verte me llenó de una alegría inmensa. Teníamos hambre y comimos full en Don Chuzo jajaja me terminé ese AlCapone.
                    p.justify Luego, las ganas de sangría nos llevaron a Puerto SantaAna, donde la noche fué mágica. Parecía que era cómplice de los dos :)

            .card.av-item.hide
                .card-image.waves-effect.waves-block.waves-light
                    img.activator(src="/public/images/f1.png", alt="Febrero")
                .card-content
                    span.card-title.activator.grey-text.text-darken-4 Un lugar nice jajaja
                        span(style="margin-left: 1rem;")
                            i.material-icons.green-text.tiny beenhere
                    p 16 de Febrero del 2020
                        
                .card-reveal
                    span.card-title.grey-text.text-darken-4 San Valentín
                        i.material-icons.right close
                    p.justify Ya habiamos decidido salir por ese día. Teníamos que celebrarlo! Sea como amigos o como algo más.
                    p.justify Fuimos a Plaza Navona, un lugar donde conversamos mucho durante horas, y por primera vez ambos estábamos expresando todo lo que sentíamos. Fué una velada genial!
                    p.justify De noche, fué muy cálido y romántico. Me encantó! (Y saqué un par de fotos comprometedoras)

            .card.av-item.hide
                .card-image.waves-effect.waves-block.waves-light
                    img.activator(src="/public/images/beso.png", alt="beso")
                .card-content
                    span.card-title.activator.grey-text.text-darken-4 Te Amo bebé
                        span(style="margin-left: 1rem;")
                            i.material-icons.red-text.tiny favorite
                    p 1 de Marzo del 2020
                        
                .card-reveal
                    span.card-title.grey-text.text-darken-4 Estoy felíz
                        i.material-icons.right close
                    p.justify Es nuestro primer mes y la verdad estoy muy contento. Ha sido dificil pero juntos lo estamos logrando. Te quiero mucho, te amo Angeline Vargas y esto solo será el inicio de muchos momentos juntos. 
                    p.justify Gracias por permitir esto. Prometo esforzarme, dar lo mejor de mi porque eres especial, eres inteligente, una cajita de sorpresas, una chica llena de emociones, me encantas!
                    p.justify Te amo, mi pandita hermosa
                        span(style="margin-left: .5rem;")
                            i.material-icons.red-text.tiny favorite
                    p
                        span(style="margin-left: .5rem;")
                            i.material-icons.gray-text.tiny arrow_downward
                    p.p-no-margin Mi amor bonito
                    p.p-no-margin Mi chica dulce
                    p.p-no-margin Mi niña consentida
                    p.p-no-margin Mi chiquita hermosa
                    p.p-no-margin Mi abejita pícara
                    p.p-no-margin Mi pandita dormilona
                    p.p-no-margin Mi gallinita loca
                    p.p-no-margin Mi enamorada inteligente

                    p.teamo Te amo! 
                        span(style="margin-left: 1rem;")
                            i.material-icons.red-text.small favorite

                    p.no-margin.left-align Att.
                    p.no-margin.left-align Jefferson Rivera Maldonado
                    p.no-margin.left-align Señor Oso

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.2/velocity.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.3/howler.min.js")
        script.
            function animateCSS(element, animationName, callback) {
                const node = document.querySelector(element)
                node.classList.add('animated', animationName)

                function handleAnimationEnd() {
                    node.classList.remove('animated', animationName)
                    node.removeEventListener('animationend', handleAnimationEnd)

                    if (typeof callback === 'function') callback()
                }

                node.addEventListener('animationend', handleAnimationEnd)
            }

        script.
            var bounceIdInterval = 0;
            var toBounce = false;

            $(document).ready(function(){
                $('.number').removeClass('hide');
                $('.number').css({opacity: 0});
                $('.number').velocity({opacity: 1}, {delay: 1500});

                var height = $(window).height() - $('nav').height() -1;
                var cofre_height = 355;

                $('.container').css({height: height, top: (height-cofre_height)/2});

                $('.cofre').removeClass('hide');
                $('.cofre').css({opacity: 0});
                animateCSS('.cofre', 'bounceIn', function(){
                    $('.cofre').css({opacity: 1});
                    toBounce= true;
                    bounceIdInterval = setInterval(runBounce, 2000)
                });

                $('.cofre').click(function(){
                    var result = prompt("Si fueras un animalito, cuál serias?", "Escribir aqui");
                    if (result != null) {
                        if(!isNaN(parseInt(result))){ 
                            M.toast({html: 'Respuesta inválida! :('})
                            return; 
                        }

                        if(result.toLowerCase()=='gallinita' || result.toLowerCase()=="pandita"){
                            M.toast({html: 'Desbloqueado! :)'})
                            openChest();
                        }else{
                            M.toast({html: 'Respuesta incorrecta :('});
                            nouSound.play();

                        }
                    }
                });

                $('.materialboxed').materialbox();

                $('.player').click(function(){
                    if($('.player').hasClass('playing')){
                        $('.player').removeClass('playing');
                        pauseLullaby();
                    }else{ 
                        $('.player').addClass('playing');
                        playLullaby();
                    }
                });
            });

            function openChest(){
                toBounce = false;
                clearInterval(bounceIdInterval);
                $('.cofre').attr('src', "/public/images/cofre-abierto.png")
                setTimeout(zoomOutUp, 1500);
                chestSound.play();
                setTimeout(playLullaby, 3000);
                $('.player').addClass('playing');
            }

            function runBounce(){
                if(toBounce){
                    animateCSS('.cofre', 'bounce', function(){});
                }
            }

            function zoomOutUp(){
                animateCSS('.cofre', 'zoomOutUp', function(){ $('.cofre-wrapper').addClass('hide'); showItems(); });
            }

            function showItems(){
                var items = $('.av-item');
                items.css({opacity: 0}).removeClass('hide');
                for(var z = 0; z<items.length; z++){
                    $(items[z]).velocity({opacity: 1}, {delay: (z+1)*1000});
                }
            }

            var chestSound = new Howl({
                src: ['/public/sounds/chest3.mp3']
            });
            /*
            var secretSound = new Howl({
                src: ['/public/sounds/secret.mp3']
            });
            */
            var nouSound = new Howl({
                src: ['/public/sounds/nou.mp3']
            });
            

            var lullabySound = new Howl({
                src: ['/public/sounds/lullaby.mp3']
            });
            



            function playLullaby(){
                lullabySound.fade(0, 0.65, 500);
                lullabySound.play();
                lullabySound.loop(true);
                $('.player-icon').text('volume_up');
                $('.player-icon').removeClass('red-text').addClass('green-text'); 
            }

            function pauseLullaby(){
                lullabySound.fade(0.65, 0, 500);
                lullabySound.pause();
                $('.player-icon').text('volume_off');
                $('.player-icon').removeClass('green-text').addClass('red-text'); 
            }

