doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="akvp")
    meta(name="author" content="@jegerima")

    meta(property="og:site_name" content="Multiverso | Beib")
    meta(property="og:title" content="Unas cuantas palabras...")
    meta(property="og:image" content="https://jegerima.dev/public/images/luna.jpg")
    meta(property="og:url" content="https://jegerima.dev/multiverso/beib")
    meta(property="og:description" content="Creo que es la mejor manera en la que puedo expresarme. Espero puedas comprenderme.")

    title La verdad es que...

    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
    link(rel="icon", href="/public/images/dev_favicon_72.png")

    style. 
      body{
        font-family: 'Lato', sans-serif;
        height: 100%;
        position: absolute;
        width: 100%;
      }

      .container {
        //- height: 100%;
      }

      nav .brand-logo.akvp-logo{
        width: 100%;
        text-align: center;
      }

      .av-pc-bg{
        background-color: #708090;
        /* slategray */
      }

      .hide{
        display: none;
      }

      .justify{
        text-align: justify;
      }

      .av-container{
        padding: 1rem 0rem 2rem 0rem;
        text-align: center;
      }

      .number{
        font-weight: bold;
      }

      .cofre-wrapper{
        height: 355px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .av-boxed{
        width: 100%;
        margin: .5rem 0rem;
      }

      .no-margin{
        margin: 0px;
      }

      .card.av-item:last-child{
        margin-bottom: 3rem;
      }

      .date {
        float: right;
        position: absolute;
        bottom: 0px;
        right: 16px;
      }
  
  body
    nav 
      .nav-wrapper.av-pc-bg 
        a.brand-logo.akvp-logo(href="#") Lo siento... 
        ul#nav-mobile.right.hide-on-med-and-down
    
    .container.valign-wrapper(style="height: calc(100% - 64px)")
      .row
        .col.s12.center 
          h5 Te extraño mucho... 😞

    div.date 
      p 2024-09-02